* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Rockwell;
    margin:0;
}

nav {
    background-color: black;
    height: 80px;
    width: 100%;
}

nav img {
    padding: 0px 40px
}

.menu {
    margin-right: 30px;
    float: right;
}

.menu li {
    display: inline-block;
    position: relative;
    line-height: 80px;
    margin: 0 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.menu a:hover {
    color: darkorange;
}

.menu a::before {
    display:block;
    content: '';
    position: absolute;
    height: 5px;
    width: 0;
    background-color: white;

    transition: all ease-in-out 260ms;
}

.menu a:hover::before {
    width: 100%;
}

.checkbutton {
    display: none;
    font-size: 30px;
    line-height: 100px;
    margin-right: 30px;
    color: white;
    float: right;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 700px) {
    .checkbutton {
        display: flex;
        padding-top: 28px;
    }

    .menu {
        position: absolute;
        text-align: center;
        width: 100%;
        right: 120%;
        background: black;
        z-index: 100;
        transition: all 0.5s;
    }

    .menu li {
        display: block;
        margin: 50px 0;
        line-height: 35px;
    }

    .menu a::before {
        height: 0;
    }

    #check:checked ~ ul {
        margin-right: 0;
        right: 0;
    }
}