/* Navbar */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Rockwell;
    margin:0;
}

nav {
    background-color: black;
    height: 80px;
    width: 100%;
}

nav img {
    padding: 0 40px
}

.menu {
    margin-right: 30px;
    float: right;
}

.menu li {
    display: inline-block;
    position: relative;
    line-height: 80px;
    margin: 0 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.menu a:hover {
    color: darkorange;
}

.menu a::before {
    display:block;
    content: '';
    position: absolute;
    height: 5px;
    width: 0;
    background-color: white;

    transition: all ease-in-out 260ms;
}

.menu a:hover::before {
    width: 100%;
}

.checkbutton {
    display: none;
    font-size: 30px;
    line-height: 100px;
    margin-right: 30px;
    color: white;
    float: right;
    cursor: pointer;
}

#check {
    display: none;
}

/* Home */
.hometext {
    top:0;
    padding: 0;
    margin: 0;

    position: relative;
    color: white;
}

.hometext h2 {
    font-size: 8vw;
    color: black;
    -webkit-text-stroke: 0.2vw white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -30%);
}

.hometext h2::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    -webkit-text-stroke: 0 darkorange;
    overflow: hidden;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.hometext2 {
    margin-top: 30px;
    font-size: 3vw;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: monospace;
}

.videoframe {
    margin: 5% 5% 10% 5%;
}

.homevideo {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
}

.homevideo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.footertext {
    position: absolute;
    color: darkorange;
    padding-left: 4vw;
    padding-top: 3px;
}

.footertext p {
    display: inline-block;
    flex-direction: column;
    position: relative;
    line-height: 40px;
    margin: 0 6vw;
}

.footerstyle {
    background: black;
    height: 80px;
}
/* Eshop */

.eshop-body {
    background-image: url("../images/sky2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.vytvor_vystup {
    margin-left: 5%;
    position: absolute;
    background: black;
    width: 140px;
    height: 25px;
    border-radius: 8px;
}

.vytvor_vystup a {
    margin-left: 20px;
    color: white;
}

.vytvor_vystup a:hover {
    color: darkorange;
}

.delete_edit {
    position: absolute;
    background: black;
    width: 260px;
    height: 25px;
    border-radius: 8px;
    z-index: 100;
}

.delete_edit a {
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.delete_edit a:hover {
    color: darkorange;
}

.product-area {
    padding-top: 2%;
    padding-bottom: 18%;
}

.product-grid {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.product-grid:after, .product:before {
    display: table;
    content: "";
}

.product-grid li {
    display: inline-block;
    height: 20vw;
    width: 20vw;
    min-height: 350px;
    min-width: 350px;
    margin: 40px;
}

.product-area .product .pozadie {
    display: inline-block;
    border-radius: 10px;
    position: initial;
    height: 20vw;
    width: 20vw;
    min-height: 350px;
    min-width: 350px;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.product-area a {
    text-decoration: none;
}

.product-area h3 {
    font-size: 4.2vw;
    padding-top: 160px;
    max-width: 330px;
    color: whitesmoke;
    position: absolute;
    padding-left: 20px;
}

.product-area p {
    font-size: 3vw;
    color: white;
    font-weight: bold;
}

/* Cart */
.cart-body  {
    margin: 15% 40% 0% 40%;
}

.cart-body-admin {
    margin: 15% 20% 0% 26%;
}

.leader {
    padding-left: 10%;
}

/* Insurance */
.insurance-body {
    background-image: url("../images/mountain_rescue.jpg");
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: solid;
}

.insurance-body h3 {
    margin-bottom: 300px;
}

.insurance-box {
    position: relative;
    background: black;
    width: 360px;
    height: 280px;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 20%;
    margin-top: 2vw;
    overflow: hidden;
}

.delete_poistenie {
    position: relative;
    background: black;
    width: 360px;
    height: 40px;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 20%;
    margin-top: 2vw;
    overflow: hidden;
}

.text {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 5px 0;
}

.delete_poistenie h2{
    color: whitesmoke;
    margin-left: 8px;
    font-size: 22px;
}
.delete_poistenie a {
    color: red;
    margin: 3px 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Vodca */
.vodca_background {
    background-image: url("../images/vodca.jpg");
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: solid;
}

.vodca-box {
    position: relative;
    background: black;
    width: 340px;
    height: 530px;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 20%;
    margin-top: 2vw;
    overflow: hidden;
}

.delete_vodca {
    position: relative;
    background: black;
    width: 340px;
    height: 190px;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 20%;
    margin-top: 2vw;
    overflow: hidden;
}

.vodca-box-update {
    position: relative;
    background: black;
    width: 340px;
    height: 540px;
    border-radius: 8px;
    margin: 2vw 20% 100px 3%;
    overflow: hidden;
}

.delete_vodca li {
    marker: none;
}

.text_vodca {
    display: block;
    margin: 5px;
}

.delete_vodca h2{
    color: whitesmoke;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 22px;
}
.delete_vodca a {
    color: black;
    margin: 3px 10px;
    text-decoration: none;
    font-weight: bold;
}

.vodca_background h3 {
    margin-bottom: 50px;
}

.delete_edit_vodca {
    position: absolute;
    background: white;
    margin-left: 45px;
    width: 240px;
    height: 25px;
    border-radius: 8px;
    z-index: 100;
}

.delete_edit_vodca a {
    margin-left: 35px;
}

.delete_edit_vodca a:hover {
    color: darkorange;
}
/* Pridanie výstupu */
.form_background {
    background-image: url("../images/vystup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form_vystup {
    position: absolute;
    background: black;
    width: 340px;
    height: 430px;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 7vw;
    overflow: hidden;
}

.form_parts {
    color: white;
    margin-top: 20px;
    margin-left: 40px;
}

.form_parts b {
    font-size: x-large;
    margin-left: 30px;
    letter-spacing: 0.2em;
}

.form_parts input {
    width: 250px;
    height: 25px;
}
.form_parts input[type="submit"] {
    padding: 0;
    margin-left: 80px;
    margin-top: 0;
}

.form_parts button {
    margin-left: 100px;
}

/* Login */
.login-body, .registration-body {
    background-image: url("../images/loginback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login-box {
    position: relative;
    background: black;
    width: 380px;
    height: 400px;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 9vw;
    overflow: hidden;
}

.registration-body .login-box {
    position: relative;
    background: black;
    width: 380px;
    height: 550px;
    border-radius: 8px;
    margin: 2vw 20% 1vw 10%;
    overflow: hidden;
}

.registration-body .input-box {
    margin-top: 20px;
}

.forgpassw-body .login-box {
    position: relative;
    background: black;
    width: 380px;
    height: 360px;
    border-radius: 8px;
    margin: 10% 20% 1vw 10%;
    overflow: hidden;
}

.form {
    display: flex;
    position: absolute;
    background: black;
    padding: 50px 35px;
    inset: 10px;
    border-radius: 8px;
    z-index: 10;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    color: white;
    font-weight: 650;
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 15px;
}

.input-box {
    position: relative;
    margin-top: 35px;
}

.input-box input {
    position: relative;
    color: black;
    width: 80%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 10;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.input-box span {
    position: absolute;
    color: white;
    left: 0;
    padding: 20px 0 10px;
    font-size: 1em;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.6s;
}

.input-box input:valid ~ span, .input-box input:focus ~ span {
    color: darkorange;
    transform: translateY(-28px);
    font-size: 0.75em;
}

.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 91%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.input-box input:valid ~ i, .input-box input:focus ~ i {
    height: 38px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    color: white;
    margin: 10px 30px 0 0;
    font-size: 0.7em;
    text-decoration: none;
}

.links a:hover, .links a:nth-child(2) {
    color: darkorange;
}

input[type="submit"] {
    background: white;
    padding: 11px 25px;
    width: 100px;
    margin-right: 30%;
    margin-left: 30%;
    letter-spacing: 0.05em;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 4px;
    font-weight:700;
    cursor: pointer;
}

@media (max-width: 700px) {
    /* Navbar */
    .checkbutton {
        display: flex;
        padding-top: 28px;
    }

    .menu {
        position: absolute;
        text-align: center;
        width: 100%;
        right: 120%;
        background: black;
        z-index: 100;
        transition: all 0.5s;
    }

    .menu li {
        display: block;
        margin: 50px 0;
        line-height: 35px;
    }

    .menu a::before {
        height: 0;
    }

    #check:checked ~ ul {
        margin-right: 0;
        right: 0;
    }

    /* Eshop */
    .product-grid li {
        min-height: 300px;
        min-width: 300px;
        margin-bottom: 10px;
    }
}

@media (max-width: 575px) {
    /* Login */
    .login-box, .registration-body .login-box, .forgpassw-body .login-box {
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

.visibilityPassword {
    color: white;
    cursor: pointer;
}




/* Info vystup */
.pozadie_vystup {
    display: inline-block;
    position: initial;
    height: 20vw;
    width: 20vw;
    min-height: 350px;
    min-width: 350px;
    padding: 80px 0px 0px 20px;
}

.section-container {
    display: inline-flex;
    flex-wrap: wrap;
}


.info_vystup {
    padding: 120px 60px;
}

.info_vystup h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}
.info_vystup p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: justify;
    max-width: 450px;
}

.info_vystup input {
    position: relative;
    color: whitesmoke;
    width: 120px;
    padding: 10px 10px 10px;
    background: black;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.info_vystup input:hover {
    color: darkorange;
}

.info_vystup select {
    width: 220px;
    font-size: 16px;
    margin-bottom: 20px;
}


/* Môj profil */
.user_info {
    margin: 50px 20% 0 15%;
}

.user_info p {
   margin-top: 15px;
}


.user_info a {
    position: absolute;
    color: whitesmoke;
    padding: 10px 10px 10px;
    background: black;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin: 25px 0 0 50px;
    border-radius: 10px;
}

.user_info a:hover {
    color: darkorange;
}

.profile {
    background-image: url("../images/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 400px;
    padding-top: 80px;
}

.user_rezervacia {
    position: relative;
    background: black;
    width: 340px;
    height: 210px;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 20%;
    margin-top: 20px;
    overflow: hidden;
}

.delete_rezervacia {
    position: absolute;
    background: whitesmoke;
    width: 80px;
    height: 25px;
    border-radius: 8px;
    z-index: 100;
    margin-left: 250px;
}

.delete_rezervacia a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    color: black;
    cursor: pointer;
}

.delete_rezervacia a:hover {
    color: darkorange;
}

.text_rezervacie {
    display: block;
    margin: 5px;
}

.user_rezervacia h2{
    color: whitesmoke;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
}

.user_rezervacia strong{
    color: darkorange;
}

.stlpce {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    max-width: 1200px;
}

.stlpec {
    height: 18rem;
    padding: 1rem;
    margin-top: 50px;
}

.rezerv h1 {
    margin-left: 74px;
}

@media (min-width: 750px) {
    .stlpce {
        grid-template-columns: repeat(2,1fr);
    }
}


/* Trasa */
.trasa-body {
    background-image: url("../images/trasa.jpg");
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: solid;
}

.trasa-body h3 {
    margin-bottom: 300px;
}

.trasa-box {
    position: relative;
    background: black;
    width: 360px;
    height: 340px;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 20%;
    margin-top: 2vw;
    overflow: hidden;
}

.delete_trasa {
    position: relative;
    background: black;
    width: 360px;
    height: 80px;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 20%;
    margin-top: 2vw;
    overflow: hidden;
}

.delete_trasa h2{
    color: whitesmoke;
    margin-left: 10px;
    font-size: 22px;
}
.delete_trasa a {
    color: red;
    margin: 3px 10px;
    text-decoration: none;
    font-weight: bold;
}
